* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/*========= Common CSS =========*/
.main-content {
    width: 1170px;
    max-width: calc(100% - 27rem);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    line-height: 5rem;
    min-width: 11.8rem;
    border-radius: 2.45rem;
    background: #171100;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.w-break {
    word-break: break-all;
}

/*========= Header =========*/
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -2.8rem;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 3.6rem 0 0.8rem;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
    justify-content: space-between;
}

.header .nav a {
    position: relative;
    padding: 0.8rem 2.1rem;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.header .nav a:hover {
    text-shadow: 0.1rem 0 0 currentColor;
    color: #171100;
}

.header .nav li.active a {
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.8rem;
}

.header .nav li.active a::after {
    position: absolute;
    left: 2.1rem;
    bottom: 0.6rem;
    content: "";
    display: block;
    width: 1.2rem;
    height: 0.2rem;
    border-radius: 0.1rem;
    background: #171100;
}

.header .sign-up-btn {
    min-width: 14.4rem;
}

.header .action {
    margin-left: 4.9rem;
}

/*========= Hero =========*/
.hero {
    background: #fffcf4;
    padding: 5.6rem 0 6.4rem;
}

.hero .body {
    display: flex;
    justify-content: space-between;
}

.hero .media-block {
    position: relative;
}

.hero .media-block .img {
    width: 47rem;
    height: 68.5rem;
    object-fit: cover;
}
.hero .hero-summary {
    position: absolute;
    left: 30rem;
    bottom: 4.8rem;
    width: 27rem;
    border-radius: 1.2rem;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.4rem 2.4rem;
}

.hero .hero-summary .item {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin: 1.4rem 0;
}

.hero .hero-summary .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem;
}

.hero .hero-summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
}

.hero .content-block {
    width: 47rem;
}
.hero .content-block .heading {
    margin: 6.4rem 0 2.2rem;
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 6.8rem;
    letter-spacing: -0.116rem;
}

.hero .content-block .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}

.hero .content-block .cta-group {
    display: flex;
    align-items: center;
    margin: 3.8rem 0 3.8rem;
}

.hero .cta-group .hero-cta {
    min-width: 18rem;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 6.4rem;
    border-radius: 3.2rem;
    background: var(--primary-color);
}

.hero .watch-video {
    display: flex;
    align-items: center;
    border: none;
    background: #fffcf4;
    cursor: pointer;
}

.hero .watch-video img {
    margin-top: 1.2rem;
}

.hero .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
}

.hero .content-block .stats {
    margin-top: 0.8rem;
}

.hero .content-block .desc strong {
    padding-right: 0.8rem;
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 5.4rem;
}

.hero .stats strong:nth-child(2) {
    margin-left: 2.8rem;
}

/*========= Popular =========*/
.popular {
    margin: 20rem 0;
}

.popular .popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .popular-top .info {
    width: 45.8rem;
}

.popular .popular-top .heading {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 4.8rem;
    letter-spacing: -0.076rem;
}

.popular .popular-top .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}

.course-list {
    display: flex;
    gap: 3rem;
}

.course-item {
    margin-top: 5.5rem;
    width: calc(100% -2px);
    height: 46.6rem;
    border-radius: 1.2rem;
    border: 1px solid #e2dfda;
    background: #fff;
}

.course-item:hover {
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    border-color: transparent;
}

.course-item .thumb {
    margin: -1px;
    width: 37.2rem;
    height: 27.8rem;
    object-fit: cover;
    border-radius: 1.2rem 1.2rem 0rem 0rem;
}

.course-item .info {
    padding: 1.6rem 2.2rem 2.2rem;
}

.course-item .foot,
.course-item .rating,
.course-item .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-item .title a {
    padding: 6px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
}

.course-item .rating {
    gap: 0.6rem;
}

.course-item .star {
    width: 1.8rem;
    height: 1.8rem;
}

.course-item .value {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 400;
}

.course-item .desc {
    margin: 0.6rem 0 1.2rem;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem;
}

.course-item .foot .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
}

.course-item .foot .btn {
    font-family: inherit;
    font-size: inherit;
    border: none;
}

.course-item .foot .btn:hover {
    background: var(--primary-color);
}

/*========= Feedback =========*/
.feedback {
    padding: 9.6rem 0;
    background: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.feedback-item .info {
    width: 15.9rem;
    margin-right: 5rem;
}

.feedback-item .info .avatar {
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .title {
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.4rem;
}

.feedback-item .desc {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem;
}

.feedback-item .dots {
    display: flex;
    margin-top: 2.8rem;
    gap: 0.6rem;
}

.feedback-item .dot {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback-item .dot.active {
    cursor: default;
    background: var(--primary-color);
}

.feedback-item .content {
    width: 66%;
}

.feedback blockquote {
    margin-left: 30px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 4rem;
}

/*========= Features =========*/
.features {
    margin: 20rem 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features .images {
    display: flex;
    gap: 3rem;
}
.features .images img {
    width: 27rem;
    height: 40.5rem;
    object-fit: cover;
    border-radius: 1.6rem;
}

.features .images img:first-child {
    margin-top: 34px;
}

.features .content {
    width: 41%;
}

.features .content .heading {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 4.8rem;
    letter-spacing: -0.076rem;
}

.features .content .desc {
    margin-top: 1.6rem;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.features .content .btn {
    margin-top: 3.2rem;
    background-color: var(--primary-color);
    width: 137px;
    border-radius: 26px;
}

/*========= Features =========*/
.features-2nd .body {
    flex-direction: row-reverse;
}

.features-2nd .content {
    width: 49%;
}

.features .images {
    width: 41%;
}

.features .images img {
    width: 100%;
}

/*========= Blog =========*/
.blog {
    padding: 9.6rem 0;
    background: #fffcf4;
}

.blog .blog-top {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
}

.blog .heading {
    color: #130606;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.076rem;
}

.blog .blog-top .desc {
    width: 38.5%;
    color: #696262;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.blog-list {
    padding: 5.5rem 0 3.8rem;
    display: flex;
    gap: 3rem;
}

.blog-list .item {
    width: 33%;
    border-radius: 1.6rem;
    background: #fff;
}

.blog-list .item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog-list .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 1.6rem 1.6rem 0rem 0rem;
}

.blog-list .info {
    padding: 2rem 2rem 2.8rem;
}

.blog-list .item .date {
    padding-bottom: 12px;
    position: relative;
    display: inline-flex;
    align-items: center;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem;
}

.blog-list .item .date::before {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
    margin-right: 5px;
}

.blog-list .item .date::after {
    position: absolute;
    right: -27px;
    left: 0;
    bottom: 0px;
    display: inline-block;
    content: "";
    width: 16rem;
    height: 0.1rem;
    border-radius: 0.05rem;
    background: #e2dfda;
}

.blog-list .item .title {
    margin: 12px 0;
}

.blog-list .item .title a {
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.8rem;
}

.blog .item .btn:hover {
    background: var(--primary-color);
}

