* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common CSS */
.main-content {
    width: 1170px;
    max-width: calc(100% - 27rem);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    line-height: 5rem;
    min-width: 11.8rem;
    border-radius: 2.45rem;
    background: #171100;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

/* Header */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -2.8rem;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 3.6rem 0 0.8rem;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
    justify-content: space-between;
}

.header .nav a {
    position: relative;
    padding: 0.8rem 2.1rem;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.header .nav a:hover {
    text-shadow: 0.1rem 0 0 currentColor;
    color: #171100;
}

.header .nav li.active a {
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.8rem;
}

.header .nav li.active a::after {
    position: absolute;
    left: 2.1rem;
    bottom: 0.6rem;
    content: "";
    display: block;
    width: 1.2rem;
    height: 0.2rem;
    border-radius: 0.1rem;
    background: #171100;
}

.header .sign-up-btn {
    min-width: 14.4rem;
}

.header .action {
    margin-left: 4.9rem;
}
